<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
</head>
<body>
  <p>{{> header}}</p>
  <p>{{welcomeMsg}}</p>
  <p>{{screamIt welcomeMsg}}</p>
  {{> footer}}
</body>
</html>
